<a href="https://colab.research.google.com/github/NoirRM907A/Colab-Repository/blob/EIF50815-Introducci%C3%B3n-An%C3%A1lisis-de-Datos/Ejercicio_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

mascota = pd.DataFrame(
    data={
        'name': ['Minino','Milo','Snoopy','Blanco','LittlePony'],
        'type': ['gato', 'perro','perro','perro','caballo']
    },
    index=[71,42,11,98,42]
)

visitas = pd.DataFrame(
    data={
        'pet_id': [42,31,71,42,98,42],
        'fecha': ['2019-03-05','2019-03-05','2019-04-05','2019-04-12','2019-09-24','2019-06-03'],
        'costo': [2000, 5000, 1000, 5000, 6000, 10000]
    }
)

mascota.index.rename('pet_id', inplace=True)
visitas.index.rename('visit_id', inplace=True)

print(mascota.query('pet_id==71'))
print(visitas['costo'].sum())
print(visitas['costo'].min())
print(visitas['costo'].max())

print(visitas)
print(visitas.sort_values(by='costo', ascending=False))

tienda=pd.merge(mascota, visitas, how='cross')
print(tienda)

          name  type
pet_id
71      Minino  gato
29000
1000
10000
          pet_id       fecha  costo
visit_id
0             42  2019-03-05   2000
1             31  2019-03-05   5000
2             71  2019-04-05   1000
3             42  2019-04-12   5000
4             98  2019-09-24   6000
5             42  2019-06-03  10000
          pet_id       fecha  costo
visit_id
5             42  2019-06-03  10000
4             98  2019-09-24   6000
1             31  2019-03-05   5000
3             42  2019-04-12   5000
0             42  2019-03-05   2000
2             71  2019-04-05   1000
          name     type  pet_id       fecha  costo
0       Minino     gato      42  2019-03-05   2000
1       Minino     gato      31  2019-03-05   5000
2       Minino     gato      71  2019-04-05   1000
3       Minino     gato      42  2019-04-12   5000
4       Minino     gato      98  2019-09-24   6000
5       Minino     gato      42  2019-06-03  10000
6         Milo    perro      42  2019-03-05   2000
7         Milo    perro      31  2019-03-05   5000
8         Milo    perro      71  2019-04-05   1000
9         Milo    perro      42  2019-04-12   5000
10        Milo    perro      98  2019-09-24   6000
11        Milo    perro      42  2019-06-03  10000
12      Snoopy    perro      42  2019-03-05   2000
13      Snoopy    perro      31  2019-03-05   5000
14      Snoopy    perro      71  2019-04-05   1000
15      Snoopy    perro      42  2019-04-12   5000
16      Snoopy    perro      98  2019-09-24   6000
17      Snoopy    perro      42  2019-06-03  10000
18      Blanco    perro      42  2019-03-05   2000
19      Blanco    perro      31  2019-03-05   5000
20      Blanco    perro      71  2019-04-05   1000
21      Blanco    perro      42  2019-04-12   5000
22      Blanco    perro      98  2019-09-24   6000
23      Blanco    perro      42  2019-06-03  10000
24  LittlePony  caballo      42  2019-03-05   2000
25  LittlePony  caballo      31  2019-03-05   5000
26  LittlePony  caballo      71  2019-04-05   1000
27  LittlePony  caballo      42  2019-04-12   5000
28  LittlePony  caballo      98  2019-09-24   6000
29  LittlePony  caballo      42  2019-06-03  10000